* {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-style: normal;
}

html, body {
  height: 100%;
}

#map {
  height: 90vh;
  width: 100%;
  background: #fff;
  border: 2px solid #333;
  border-radius: 10px;
}

.map-breadcrumb {
  position: absolute;
  margin: 7px;
  border-radius: 4px;
  z-index: 500;
  background-color: aliceblue;
}

#color-selection {
  position: absolute;
  margin: 7px;
  border-radius: 4px;
  z-index: 500;
  background-color: aliceblue;
  width: auto;
  bottom: 60px;
  left: 10px;
  display: none;
}

#active-candidate-nav {
  position: absolute;
  margin: 7px;
  border-radius: 4px;
  z-index: 500;
  background-color: aliceblue;
  bottom: 20px;
  left: 10px;
  display: none;
}


#disableChoropleth {
  position: absolute;
  z-index: 500;
  bottom: 20px;
  right: 10px;
  display: none;
}

.full-height { 
  height: calc(100vh - 56px); 
}

.leaflet-interactive:focus {
  outline: none;
}

#loadingMap {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 600;
  display: none;
}

#loadingRank {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 600;
  display: none;
}